.text-center {
    text-align: center;
}

#main {
    width: 1200px;
}

.slide h2 {
    text-align: center;
    margin: -20px 0 20px 0;
}

.step.big {
    width: 1200px;
}

img.stretch {
    width: 100%;
    height: auto;
}
.onix-logo {
    position: absolute;
    top: 115px;
    left: 77px;
}